<app-home-content-carousel></app-home-content-carousel>
<div class="container mt-4">
	<div class="row">
		<div class="col">
			<p class="h3">Welcome to Mehak Spices</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et lectus in sapien vulputate pretium non laoreet nulla. Morbi rhoncus,
				mi vel ultricies posuere, tortor nisl luctus enim, vel consectetur neque felis rhoncus nibh. Vestibulum faucibus turpis sed risus
				dapibus efficitur. Pellentesque faucibus eget magna a facilisis. Curabitur viverra elit ac nisl sagittis vestibulum. Nullam hendrerit
				nec risus in blandit. Sed et bibendum leo. Duis commodo dolor vel enim rhoncus finibus. Cras justo justo, efficitur sed dui at,
				consectetur placerat lorem.
			</p>
			<p>
				Proin mattis, tortor et vehicula bibendum, turpis turpis pharetra turpis, at hendrerit mi dolor et velit. Integer elementum vulputate
				consectetur. Integer auctor odio eu nisl dapibus mattis posuere sit amet urna. Phasellus facilisis sem quis turpis facilisis, sed
				laoreet turpis ultrices. Morbi quis diam aliquam, faucibus enim sit amet, elementum sem. Cras sit amet urna at tortor vulputate
				bibendum. Vestibulum at fringilla nisl, at ullamcorper nisl. Proin sed eleifend nisl, a eleifend tellus. Maecenas quis blandit est.
				Nunc iaculis dui libero, sed tincidunt ipsum auctor sit amet. Donec sed lectus arcu. Praesent varius sagittis tortor a viverra. Cras
				in metus eros. Integer et pharetra sapien. Curabitur posuere augue a ligula volutpat, eget aliquam ipsum vestibulum.
			</p>
		</div>
	</div>
</div>
