<div class="container-fluid bg-light pt-3 mt-4">
	<div class="row px-2">
		<div class="col-6 col-md-4 d-flex flex-column px-2">
			<div class="border-bottom border-dark">
				<p class="footer-heading fw-bold">Navigation</p>
			</div>
			<p class="my-2"><i class="bi bi-chevron-right"></i> Home</p>
			<p class="my-2"><i class="bi bi-chevron-right"></i> About Us</p>
			<p class="my-2"><i class="bi bi-chevron-right"></i> Products</p>
			<p class="my-2"><i class="bi bi-chevron-right"></i> Contact Us</p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column px-2">
			<div class="border-bottom border-dark">
				<p class="footer-heading fw-bold">Mehak Spices</p>
			</div>
			<p class="my-2">Address Line 1<br />Delhi<br />New Delhi</p>
			<p class="my-2">+91-9999999999</p>
			<p class="my-2">mehakspices@gmail.com</p>
		</div>
		<!-- <div class="col-6 col-md-3 d-flex flex-column px-2">
			<div class="border-bottom border-dark">
				<p class="footer-heading fw-bold">Quick Contact</p>
			</div>
		</div> -->
		<div class="col-6 col-md-4 px-2">
			<div class="border-bottom border-dark">
				<p class="footer-heading fw-bold">Follow Us on</p>
			</div>
			<i class="bi bi-facebook m-2" style="font-size: 2rem"></i>
			<i class="bi bi-instagram m-2" style="font-size: 2rem"></i>
		</div>
	</div>
	<div class="row bg-dark text-white py-4 px-2 small-banner">
		<div class="col d-flex flex-row justify-content-between">
			<span><span class="text-white-50">Copyright &copy;</span> Mehak Spices</span>
			<span
				>Website designed by
				<a href="https://anshumgill.github.io/portfolio" class="text-white-50 text-decoration-none" target="_blank">Anshum Gill</a></span
			>
		</div>
	</div>
</div>
