<div class="container-fluid">
	<div class="row mb-2">
		<div class="col bg-secondary py-2">
			<h2 class="text-white">Contact Us</h2>
		</div>
	</div>
	<div class="row px-md-5 mx-md-5">
		<div class="col-12 col-md-8 d-flex flex-column px-md-4">
			<h4>Make an enquiry</h4>
			<p>To serve you better please fill in the following details</p>
			<form class="row g-3">
				<div class="col-md-6">
					<label for="inputName" class="form-label">Your Name</label>
					<input type="text" class="form-control" id="inputName" />
				</div>
				<div class="col-md-6">
					<label for="inputEmail" class="form-label">Your Email</label>
					<input type="email" class="form-control" id="inputEmail" />
				</div>
				<div class="col-md-6">
					<label for="inputMobile" class="form-label">Mobile</label>
					<input type="text" class="form-control" id="inputMobile" />
				</div>
				<div class="col-md-6">
					<label for="inputSubject" class="form-label">Subject</label>
					<input type="text" class="form-control" id="inputSubject" />
				</div>
				<div class="col-12">
					<label for="inputMessage" class="form-label">Your Message</label>
					<textarea class="form-control" id="inputMessage" rows="3"></textarea>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-12 col-md-4 d-flex flex-column">
			<h4>Contact Information</h4>
			<p>Address Line 1<br />City<br />Country<br />Pincode</p>
			<p>+91-999999999</p>
			<p>mehakspices@gmail.com</p>
		</div>
	</div>
</div>
