<div class="container-fluid">
	<div class="row mb-2">
		<div class="col bg-secondary py-2">
			<h2 class="text-white">About Us</h2>
		</div>
	</div>
	<div class="row px-md-5 mx-md-5 my-2">
		<div class="col-2">
			<img src="https://via.placeholder.com/300" class="img-fluid" />
		</div>
		<div class="col">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at risus nibh. Pellentesque facilisis, turpis nec lobortis
				lacinia, mauris felis venenatis ex, quis tincidunt felis est eu sem. Sed dapibus nisi metus, ac finibus risus euismod ac. Sed bibendum
				arcu nunc. Integer finibus rhoncus est, sit amet egestas purus sollicitudin sed. Sed ac placerat odio. Pellentesque ultrices, justo
				vitae pulvinar eleifend, massa arcu rhoncus dolor, sed pulvinar nisi elit ut quam. Praesent convallis, dolor non cursus rhoncus, elit
				enim ultricies arcu, at ornare ante arcu vitae risus. Integer ac porta leo, non porttitor augue. Donec porta dictum tempor. Sed
				rhoncus efficitur ultricies. Fusce aliquet accumsan semper.
			</p>
		</div>
	</div>
	<div class="row px-md-5 mx-md-5 flex-row-reverse my-2">
		<div class="col-2">
			<img src="https://via.placeholder.com/150" />
		</div>
		<div class="col">
			<h4>About Category 1</h4>
			<p>
				Sed ut egestas mi, non tempus neque. Integer maximus eros quis justo venenatis, eget eleifend velit fringilla. Etiam malesuada libero
				non massa aliquam, eu imperdiet leo lobortis. Nunc eget turpis non nibh aliquet tempor sit amet condimentum turpis. Phasellus bibendum
				malesuada posuere. Vestibulum sit amet lacus vel felis varius egestas nec at sapien. Pellentesque at porta mi. Aliquam accumsan libero
				in leo ultricies, dignissim efficitur magna mollis. Sed pellentesque erat dictum nulla rutrum, ac dictum erat egestas. Mauris eget
				nisi sit amet ante suscipit rhoncus.
			</p>
		</div>
	</div>
	<div class="row px-md-5 mx-md-5 my-2">
		<div class="col-2">
			<img src="https://via.placeholder.com/150" />
		</div>
		<div class="col">
			<h4>About Category 2</h4>
			<p>
				Sed ut egestas mi, non tempus neque. Integer maximus eros quis justo venenatis, eget eleifend velit fringilla. Etiam malesuada libero
				non massa aliquam, eu imperdiet leo lobortis. Nunc eget turpis non nibh aliquet tempor sit amet condimentum turpis. Phasellus bibendum
				malesuada posuere. Vestibulum sit amet lacus vel felis varius egestas nec at sapien. Pellentesque at porta mi. Aliquam accumsan libero
				in leo ultricies, dignissim efficitur magna mollis. Sed pellentesque erat dictum nulla rutrum, ac dictum erat egestas. Mauris eget
				nisi sit amet ante suscipit rhoncus.
			</p>
		</div>
	</div>
	<div class="row px-md-5 mx-md-5 flex-row-reverse my-2">
		<div class="col-2">
			<img src="https://via.placeholder.com/150" />
		</div>
		<div class="col">
			<h4>About Category 3</h4>
			<p>
				Sed ut egestas mi, non tempus neque. Integer maximus eros quis justo venenatis, eget eleifend velit fringilla. Etiam malesuada libero
				non massa aliquam, eu imperdiet leo lobortis. Nunc eget turpis non nibh aliquet tempor sit amet condimentum turpis. Phasellus bibendum
				malesuada posuere. Vestibulum sit amet lacus vel felis varius egestas nec at sapien. Pellentesque at porta mi. Aliquam accumsan libero
				in leo ultricies, dignissim efficitur magna mollis. Sed pellentesque erat dictum nulla rutrum, ac dictum erat egestas. Mauris eget
				nisi sit amet ante suscipit rhoncus.
			</p>
		</div>
	</div>
</div>
